@import url('https://fonts.cdnfonts.com/css/samsung-sharp-sans');
*{
  user-select: none;
}
html{
  box-sizing: border-box;
  height: 100%;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  font-family: 'Samsung Sharp Sans', sans-serif;
}

.wrapper{
  background: rgb(53, 50, 48);
  padding: 5px;
  border: 1px solid black;
  border-radius: 15px;
  flex-basis: 200px;
  height: 220px;
  
}

.display{
  background: black;
  height: 35px;
  width: 180px;
  display: flex;
  justify-content: flex-end;
  align-items: right;
  margin: 0 auto;
  border-radius: 10px;
  color: white;
  border: 1px solid black;
  
}

button{
  background: rgb(31, 31, 31);
  color: rgb(250, 250, 250);
  padding: 6px 10px;
  border-radius: 15px;
  border: none;
  width: 40px;
  margin: 2px 2px; 
}

#orange{
  color: rgb(199, 87, 36);
}

#green{
  color: rgb(86, 148, 21);
}

.equals{
  background: rgb(70, 116, 22);
}

.buttons{
  text-align: center;
  padding-top: 20px;
}

.previousNumber, .mathSign, .currentNumber {
  display: flex;
  align-items: center;
}

.currentNumber{
  margin-right: 10px;
}
